<a href="https://colab.research.google.com/github/Gurjot-Singh-2002/UML501-Lab-Assignments/blob/main/102203582_3CO14_ODD2024_Q1%2C2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Gurjot Singh 102203582 3CO14 Assignment 2

# Question 1

In [ ]:
import pandas as pd

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving AWCustomers.csv to AWCustomers.csv

In [ ]:
# Load the dataset
df = pd.read_csv('AWCustomers.csv')
df.head()

,CustomerID,Title,FirstName,MiddleName,LastName,Suffix,AddressLine1,AddressLine2,City,StateProvinceName,...,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome,LastUpdated
0,21173,NaN,Chad,C,Yuan,NaN,7090 C. Mount Hood,NaN,Wollongong,New South Wales,...,Bachelors,Clerical,M,M,1,3,0,1,81916,2017-03-06
1,13249,NaN,Ryan,NaN,Perry,NaN,3651 Willow Lake Rd,NaN,Shawnee,British Columbia,...,Partial College,Clerical,M,M,1,2,1,2,81076,2017-03-06
2,29350,NaN,Julia,NaN,Thompson,NaN,1774 Tice Valley Blvd.,NaN,West Covina,California,...,Bachelors,Clerical,F,S,0,3,0,0,86387,2017-03-06
3,13503,NaN,Theodore,NaN,Gomez,NaN,2103 Baldwin Dr,NaN,Liverpool,England,...,Partial College,Skilled Manual,M,M,1,2,1,2,61481,2017-03-06
4,22803,NaN,Marshall,J,Shan,NaN,Am Gallberg 234,NaN,Werne,Nordrhein-Westfalen,...,Partial College,Skilled Manual,M,S,1,1,0,0,51804,2017-03-06

In [ ]:
# Convert BirthDate to Age
df['BirthDate'] = pd.to_datetime(df['BirthDate'])
df['Age'] = 2024 - df['BirthDate'].dt.year
df = df.drop(columns=['BirthDate'])

In [ ]:
df.head()

,CustomerID,Title,FirstName,MiddleName,LastName,Suffix,AddressLine1,AddressLine2,City,StateProvinceName,...,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome,LastUpdated,Age
0,21173,NaN,Chad,C,Yuan,NaN,7090 C. Mount Hood,NaN,Wollongong,New South Wales,...,Clerical,M,M,1,3,0,1,81916,2017-03-06,37
1,13249,NaN,Ryan,NaN,Perry,NaN,3651 Willow Lake Rd,NaN,Shawnee,British Columbia,...,Clerical,M,M,1,2,1,2,81076,2017-03-06,52
2,29350,NaN,Julia,NaN,Thompson,NaN,1774 Tice Valley Blvd.,NaN,West Covina,California,...,Clerical,F,S,0,3,0,0,86387,2017-03-06,39
3,13503,NaN,Theodore,NaN,Gomez,NaN,2103 Baldwin Dr,NaN,Liverpool,England,...,Skilled Manual,M,M,1,2,1,2,61481,2017-03-06,47
4,22803,NaN,Marshall,J,Shan,NaN,Am Gallberg 234,NaN,Werne,Nordrhein-Westfalen,...,Skilled Manual,M,S,1,1,0,0,51804,2017-03-06,49

# Part (a)

In [ ]:
# Drop irrelevant columns
columns_to_drop = ['CustomerID', 'Title', 'FirstName', 'MiddleName', 'LastName', 'Suffix',
                   'AddressLine1', 'AddressLine2', 'StateProvinceName', 'CountryRegionName',
                   'PostalCode', 'PhoneNumber', 'LastUpdated']
df_cleaned = df.drop(columns=columns_to_drop)

# Part (b)

In [ ]:
# Select only the relevant attributes
selected_attributes = ['Education', 'Occupation', 'Gender', 'MaritalStatus', 'City',
                       'HomeOwnerFlag', 'NumberCarsOwned', 'NumberChildrenAtHome',
                       'TotalChildren', 'YearlyIncome', 'Age']

df_selected = df_cleaned[selected_attributes]

# Display the new DataFrame with selected attributes
print(df_selected.head())

         Education      Occupation Gender MaritalStatus         City  \
0        Bachelors        Clerical      M             M   Wollongong
1  Partial College        Clerical      M             M      Shawnee
2        Bachelors        Clerical      F             S  West Covina
3  Partial College  Skilled Manual      M             M    Liverpool
4  Partial College  Skilled Manual      M             S        Werne

   HomeOwnerFlag  NumberCarsOwned  NumberChildrenAtHome  TotalChildren  \
0              1                3                     0              1
1              1                2                     1              2
2              0                3                     0              0
3              1                2                     1              2
4              1                1                     0              0

   YearlyIncome  Age
0         81916   37
1         81076   52
2         86387   39
3         61481   47
4         51804   49

# Part (c)

In [ ]:
df.dtypes

CustomerID               int64
Title                   object
FirstName               object
MiddleName              object
LastName                object
Suffix                  object
AddressLine1            object
AddressLine2            object
City                    object
StateProvinceName       object
CountryRegionName       object
PostalCode              object
PhoneNumber             object
Education               object
Occupation              object
Gender                  object
MaritalStatus           object
HomeOwnerFlag            int64
NumberCarsOwned          int64
NumberChildrenAtHome     int64
TotalChildren            int64
YearlyIncome             int64
LastUpdated             object
Age                      int32
dtype: object

In [ ]:
ordinal = []
continous = []
categorical_string = []

for col, dtype in df.dtypes.items():
    if dtype==int:
        ordinal.append(col)
    elif dtype==float:

        continous.append(col)
    else:
        categorical_string.append(col)

print("Ordinal (rank based) features : \n{o}\n\n".format(o=ordinal))
print("Continous features : \n{c}\n\n".format(c=continous))
print("Categorical string features : \n{s}\n\n".format(s=categorical_string))

Ordinal (rank based) features :
['CustomerID', 'HomeOwnerFlag', 'NumberCarsOwned', 'NumberChildrenAtHome', 'TotalChildren', 'YearlyIncome']


Continous features :
[]


Categorical string features :
['Title', 'FirstName', 'MiddleName', 'LastName', 'Suffix', 'AddressLine1', 'AddressLine2', 'City', 'StateProvinceName', 'CountryRegionName', 'PostalCode', 'PhoneNumber', 'Education', 'Occupation', 'Gender', 'MaritalStatus', 'LastUpdated', 'Age']

# Question 2

# Part(a)

In [ ]:
# Drop the columns that are mostly null
columns_to_drop = ['Title','Suffix', 'MiddleName', 'AddressLine2']
df = df.drop(columns=columns_to_drop)

In [ ]:
df.head()

,CustomerID,FirstName,LastName,AddressLine1,City,StateProvinceName,CountryRegionName,PostalCode,PhoneNumber,Education,...,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome,LastUpdated,Age,YearlyIncome_scaled,Age_scaled
0,21173,Chad,Yuan,7090 C. Mount Hood,Wollongong,New South Wales,Australia,2500,1 (11) 500 555-0115,Bachelors,...,M,1,3,0,1,81916,2017-03-06,37,0.496842,0.185714
1,13249,Ryan,Perry,3651 Willow Lake Rd,Shawnee,British Columbia,Canada,V9B 2C3,787-555-0136,Partial College,...,M,1,2,1,2,81076,2017-03-06,52,0.489453,0.400000
2,29350,Julia,Thompson,1774 Tice Valley Blvd.,West Covina,California,United States,91791,120-555-0111,Bachelors,...,S,0,3,0,0,86387,2017-03-06,39,0.536172,0.214286
3,13503,Theodore,Gomez,2103 Baldwin Dr,Liverpool,England,United Kingdom,L4 4HB,1 (11) 500 555-0167,Partial College,...,M,1,2,1,2,61481,2017-03-06,47,0.317083,0.328571
4,22803,Marshall,Shan,Am Gallberg 234,Werne,Nordrhein-Westfalen,Germany,59368,1 (11) 500 555-0113,Partial College,...,S,1,1,0,0,51804,2017-03-06,49,0.231958,0.357143

# Part(b)

In [ ]:
from sklearn.preprocessing import LabelEncoder, MinMaxScaler, KBinsDiscretizer, OneHotEncoder,StandardScaler,RobustScaler,MaxAbsScaler

In [ ]:
# Normalization
scaler = MinMaxScaler()
df['YearlyIncome_scaled'] = scaler.fit_transform(df[['YearlyIncome']])
df['Age_scaled'] = scaler.fit_transform(df[['Age']])

In [ ]:
df.head()

,CustomerID,FirstName,LastName,AddressLine1,City,StateProvinceName,CountryRegionName,PostalCode,PhoneNumber,Education,...,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome,LastUpdated,Age,YearlyIncome_scaled,Age_scaled
0,21173,Chad,Yuan,7090 C. Mount Hood,Wollongong,New South Wales,Australia,2500,1 (11) 500 555-0115,Bachelors,...,M,1,3,0,1,81916,2017-03-06,37,0.496842,0.185714
1,13249,Ryan,Perry,3651 Willow Lake Rd,Shawnee,British Columbia,Canada,V9B 2C3,787-555-0136,Partial College,...,M,1,2,1,2,81076,2017-03-06,52,0.489453,0.400000
2,29350,Julia,Thompson,1774 Tice Valley Blvd.,West Covina,California,United States,91791,120-555-0111,Bachelors,...,S,0,3,0,0,86387,2017-03-06,39,0.536172,0.214286
3,13503,Theodore,Gomez,2103 Baldwin Dr,Liverpool,England,United Kingdom,L4 4HB,1 (11) 500 555-0167,Partial College,...,M,1,2,1,2,61481,2017-03-06,47,0.317083,0.328571
4,22803,Marshall,Shan,Am Gallberg 234,Werne,Nordrhein-Westfalen,Germany,59368,1 (11) 500 555-0113,Partial College,...,S,1,1,0,0,51804,2017-03-06,49,0.231958,0.357143

# Part(c)

In [ ]:
# Discretization (Binning)
discretizer = KBinsDiscretizer(n_bins=5, encode='ordinal', strategy='quantile')
df['YearlyIncome_binned'] = discretizer.fit_transform(df[['YearlyIncome_scaled']])

In [ ]:
df.head()

,CustomerID,FirstName,LastName,AddressLine1,City,StateProvinceName,CountryRegionName,PostalCode,PhoneNumber,Education,...,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome,LastUpdated,Age,YearlyIncome_scaled,Age_scaled,YearlyIncome_binned
0,21173,Chad,Yuan,7090 C. Mount Hood,Wollongong,New South Wales,Australia,2500,1 (11) 500 555-0115,Bachelors,...,1,3,0,1,81916,2017-03-06,37,0.496842,0.185714,3.0
1,13249,Ryan,Perry,3651 Willow Lake Rd,Shawnee,British Columbia,Canada,V9B 2C3,787-555-0136,Partial College,...,1,2,1,2,81076,2017-03-06,52,0.489453,0.400000,3.0
2,29350,Julia,Thompson,1774 Tice Valley Blvd.,West Covina,California,United States,91791,120-555-0111,Bachelors,...,0,3,0,0,86387,2017-03-06,39,0.536172,0.214286,3.0
3,13503,Theodore,Gomez,2103 Baldwin Dr,Liverpool,England,United Kingdom,L4 4HB,1 (11) 500 555-0167,Partial College,...,1,2,1,2,61481,2017-03-06,47,0.317083,0.328571,2.0
4,22803,Marshall,Shan,Am Gallberg 234,Werne,Nordrhein-Westfalen,Germany,59368,1 (11) 500 555-0113,Partial College,...,1,1,0,0,51804,2017-03-06,49,0.231958,0.357143,1.0

# Part (d)

In [ ]:
# Step 4: Standardization
scaler = StandardScaler()
df['YearlyIncome_scaled'] = scaler.fit_transform(df[['YearlyIncome']])
df['Age_scaled'] = scaler.fit_transform(df[['Age']].values.reshape(-1,1)).flatten()

In [ ]:
df.head()

,CustomerID,FirstName,LastName,AddressLine1,City,StateProvinceName,CountryRegionName,PostalCode,PhoneNumber,Education,...,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome,LastUpdated,Age,YearlyIncome_scaled,Age_scaled,YearlyIncome_binned
0,21173,Chad,Yuan,7090 C. Mount Hood,Wollongong,New South Wales,Australia,2500,1 (11) 500 555-0115,Bachelors,...,1,3,0,1,81916,2017-03-06,37,0.298555,-0.482516,3.0
1,13249,Ryan,Perry,3651 Willow Lake Rd,Shawnee,British Columbia,Canada,V9B 2C3,787-555-0136,Partial College,...,1,2,1,2,81076,2017-03-06,52,0.271180,0.851033,3.0
2,29350,Julia,Thompson,1774 Tice Valley Blvd.,West Covina,California,United States,91791,120-555-0111,Bachelors,...,0,3,0,0,86387,2017-03-06,39,0.444261,-0.304710,3.0
3,13503,Theodore,Gomez,2103 Baldwin Dr,Liverpool,England,United Kingdom,L4 4HB,1 (11) 500 555-0167,Partial College,...,1,2,1,2,61481,2017-03-06,47,-0.367401,0.406517,2.0
4,22803,Marshall,Shan,Am Gallberg 234,Werne,Nordrhein-Westfalen,Germany,59368,1 (11) 500 555-0113,Partial College,...,1,1,0,0,51804,2017-03-06,49,-0.682765,0.584324,1.0

# Part (e)

In [ ]:
encoder = OneHotEncoder(handle_unknown='ignore', sparse_output=False)
encoded_data = encoder.fit_transform(df[['Gender', 'MaritalStatus', 'Education', 'Occupation', 'CountryRegionName', 'StateProvinceName']])
encoded_df = pd.DataFrame(encoded_data, columns=encoder.get_feature_names_out(['Gender', 'MaritalStatus', 'Education', 'Occupation', 'CountryRegionName', 'StateProvinceName']))

label_encoder = LabelEncoder()
df['Gender_encoded'] = label_encoder.fit_transform(df['Gender'])


final_df = pd.concat([df, encoded_df], axis=1)
final_df.drop(['Gender', 'MaritalStatus', 'Education', 'Occupation', 'CountryRegionName', 'StateProvinceName'], axis=1, inplace=True)

print("\nFirst 5 rows of the final dataframe:")
print(final_df.head())

First 5 rows of the final dataframe:
   CustomerID FirstName  LastName            AddressLine1         City  \
0       21173      Chad      Yuan      7090 C. Mount Hood   Wollongong
1       13249      Ryan     Perry     3651 Willow Lake Rd      Shawnee
2       29350     Julia  Thompson  1774 Tice Valley Blvd.  West Covina
3       13503  Theodore     Gomez         2103 Baldwin Dr    Liverpool
4       22803  Marshall      Shan         Am Gallberg 234        Werne

  PostalCode          PhoneNumber  HomeOwnerFlag  NumberCarsOwned  \
0       2500  1 (11) 500 555-0115              1                3
1    V9B 2C3         787-555-0136              1                2
2      91791         120-555-0111              0                3
3     L4 4HB  1 (11) 500 555-0167              1                2
4      59368  1 (11) 500 555-0113              1                1

   NumberChildrenAtHome  ...  StateProvinceName_Tasmania  \
0                     0  ...                         0.0
1                     1  ...                         0.0
2                     0  ...                         0.0
3                     1  ...                         0.0
4                     0  ...                         0.0

   StateProvinceName_Texas StateProvinceName_Utah  \
0                      0.0                    0.0
1                      0.0                    0.0
2                      0.0                    0.0
3                      0.0                    0.0
4                      0.0                    0.0

   StateProvinceName_Val d'Oise  StateProvinceName_Val de Marne  \
0                           0.0                             0.0
1                           0.0                             0.0
2                           0.0                             0.0
3                           0.0                             0.0
4                           0.0                             0.0

   StateProvinceName_Victoria  StateProvinceName_Virginia  \
0                         0.0                         0.0
1                         0.0                         0.0
2                         0.0                         0.0
3                         0.0                         0.0
4                         0.0                         0.0

   StateProvinceName_Washington  StateProvinceName_Wyoming  \
0                           0.0                        0.0
1                           0.0                        0.0
2                           0.0                        0.0
3                           0.0                        0.0
4                           0.0                        0.0

   StateProvinceName_Yveline
0                        0.0
1                        0.0
2                        0.0
3                        0.0
4                        0.0

[5 rows x 92 columns]