<a href="https://colab.research.google.com/github/Gurjot-Singh-2002/UML501-Lab-Assignments/blob/main/102203582_3CO14_ODD2024_FullA2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Gurjot Singh 102203582 3CO14 Assignment 2

Question 1

In [1]:
import pandas as pd

In [7]:
from google.colab import files
uploaded = files.upload()

Saving AWCustomers.csv to AWCustomers.csv

In [8]:
# Load the dataset
df = pd.read_csv('AWCustomers.csv')
df.head()

,CustomerID,Title,FirstName,MiddleName,LastName,Suffix,AddressLine1,AddressLine2,City,StateProvinceName,...,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome,LastUpdated
0,21173,NaN,Chad,C,Yuan,NaN,7090 C. Mount Hood,NaN,Wollongong,New South Wales,...,Bachelors,Clerical,M,M,1,3,0,1,81916,2017-03-06
1,13249,NaN,Ryan,NaN,Perry,NaN,3651 Willow Lake Rd,NaN,Shawnee,British Columbia,...,Partial College,Clerical,M,M,1,2,1,2,81076,2017-03-06
2,29350,NaN,Julia,NaN,Thompson,NaN,1774 Tice Valley Blvd.,NaN,West Covina,California,...,Bachelors,Clerical,F,S,0,3,0,0,86387,2017-03-06
3,13503,NaN,Theodore,NaN,Gomez,NaN,2103 Baldwin Dr,NaN,Liverpool,England,...,Partial College,Skilled Manual,M,M,1,2,1,2,61481,2017-03-06
4,22803,NaN,Marshall,J,Shan,NaN,Am Gallberg 234,NaN,Werne,Nordrhein-Westfalen,...,Partial College,Skilled Manual,M,S,1,1,0,0,51804,2017-03-06

# Part (a)

In [9]:
# Drop irrelevant columns
columns_to_drop = ['CustomerID', 'Title', 'FirstName', 'MiddleName', 'LastName', 'Suffix',
                   'AddressLine1', 'AddressLine2', 'StateProvinceName', 'CountryRegionName',
                   'PostalCode', 'PhoneNumber', 'LastUpdated']
df_cleaned = df.drop(columns=columns_to_drop)

In [10]:
# Convert BirthDate to Age
df_cleaned['BirthDate'] = pd.to_datetime(df_cleaned['BirthDate'])
df_cleaned['Age'] = 2024 - df_cleaned['BirthDate'].dt.year
df_cleaned = df_cleaned.drop(columns=['BirthDate'])

# Part (b)

In [11]:
# Select only the relevant attributes
selected_attributes = ['Education', 'Occupation', 'Gender', 'MaritalStatus', 'City',
                       'HomeOwnerFlag', 'NumberCarsOwned', 'NumberChildrenAtHome',
                       'TotalChildren', 'YearlyIncome', 'Age']

df_selected = df_cleaned[selected_attributes]

# Display the new DataFrame with selected attributes
print(df_selected.head())

         Education      Occupation Gender MaritalStatus         City  \
0        Bachelors        Clerical      M             M   Wollongong
1  Partial College        Clerical      M             M      Shawnee
2        Bachelors        Clerical      F             S  West Covina
3  Partial College  Skilled Manual      M             M    Liverpool
4  Partial College  Skilled Manual      M             S        Werne

   HomeOwnerFlag  NumberCarsOwned  NumberChildrenAtHome  TotalChildren  \
0              1                3                     0              1
1              1                2                     1              2
2              0                3                     0              0
3              1                2                     1              2
4              1                1                     0              0

   YearlyIncome  Age
0         81916   37
1         81076   52
2         86387   39
3         61481   47
4         51804   49

# Part (c)

In [12]:
df.dtypes

CustomerID               int64
Title                   object
FirstName               object
MiddleName              object
LastName                object
Suffix                  object
AddressLine1            object
AddressLine2            object
City                    object
StateProvinceName       object
CountryRegionName       object
PostalCode              object
PhoneNumber             object
BirthDate               object
Education               object
Occupation              object
Gender                  object
MaritalStatus           object
HomeOwnerFlag            int64
NumberCarsOwned          int64
NumberChildrenAtHome     int64
TotalChildren            int64
YearlyIncome             int64
LastUpdated             object
dtype: object

In [13]:
ordinal = []
continous = []
categorical_string = []

for col, dtype in df.dtypes.items():
    if dtype==int:
        ordinal.append(col)
    elif dtype==float:

        continous.append(col)
    else:
        categorical_string.append(col)

print("Ordinal (rank based) features : \n{o}\n\n".format(o=ordinal))
print("Continous features : \n{c}\n\n".format(c=continous))
print("Categorical string features : \n{s}\n\n".format(s=categorical_string))

Ordinal (rank based) features :
['CustomerID', 'HomeOwnerFlag', 'NumberCarsOwned', 'NumberChildrenAtHome', 'TotalChildren', 'YearlyIncome']


Continous features :
[]


Categorical string features :
['Title', 'FirstName', 'MiddleName', 'LastName', 'Suffix', 'AddressLine1', 'AddressLine2', 'City', 'StateProvinceName', 'CountryRegionName', 'PostalCode', 'PhoneNumber', 'BirthDate', 'Education', 'Occupation', 'Gender', 'MaritalStatus', 'LastUpdated']

In [14]:
# Drop the columns that are mostly null
columns_to_drop = ['Suffix', 'MiddleName', 'AddressLine2']
df = df.drop(columns=columns_to_drop)

In [15]:
# Step 1: Handling Null Values
# Fill continuous attributes with mean
continuous_columns = ['YearlyIncome']
df[continuous_columns] = df[continuous_columns].fillna(df[continuous_columns].mean())

# Fill categorical attributes with mode
categorical_columns = ['Education', 'Occupation', 'Gender', 'MaritalStatus', 'HomeOwnerFlag']
df[categorical_columns] = df[categorical_columns].apply(lambda x: x.fillna(x.mode()[0]))

In [16]:
# Step 2: Normalization (Scaling continuous data to [0, 1])
df[continuous_columns] = (df[continuous_columns] - df[continuous_columns].min()) / (df[continuous_columns].max() - df[continuous_columns].min())

In [17]:
# Step 3: Discretization (Binning)
# Example: Discretize Age into 5 bins
df['AgeBinned'] = pd.cut(df['Age'], bins=5, labels=False)

KeyError: 'Age'

In [18]:
# Step 4: Standardization
df[continuous_columns] = (df[continuous_columns] - df[continuous_columns].mean()) / df[continuous_columns].std()

In [19]:
# Step 5: Binarization (One-Hot Encoding)
df_final = pd.get_dummies(df, columns=categorical_columns, drop_first=True)

In [20]:
df = df.drop(columns='Title')

In [21]:
# Display the first few rows of the final dataframe
print(df_final.head())

   CustomerID Title FirstName  LastName            AddressLine1         City  \
0       21173   NaN      Chad      Yuan      7090 C. Mount Hood   Wollongong
1       13249   NaN      Ryan     Perry     3651 Willow Lake Rd      Shawnee
2       29350   NaN     Julia  Thompson  1774 Tice Valley Blvd.  West Covina
3       13503   NaN  Theodore     Gomez         2103 Baldwin Dr    Liverpool
4       22803   NaN  Marshall      Shan         Am Gallberg 234        Werne

     StateProvinceName CountryRegionName PostalCode          PhoneNumber  ...  \
0      New South Wales         Australia       2500  1 (11) 500 555-0115  ...
1     British Columbia            Canada    V9B 2C3         787-555-0136  ...
2           California     United States      91791         120-555-0111  ...
3              England    United Kingdom     L4 4HB  1 (11) 500 555-0167  ...
4  Nordrhein-Westfalen           Germany      59368  1 (11) 500 555-0113  ...

  Education_High School  Education_Partial College  \
0                 False                      False
1                 False                       True
2                 False                      False
3                 False                       True
4                 False                       True

   Education_Partial High School  Occupation_Management  Occupation_Manual  \
0                          False                  False              False
1                          False                  False              False
2                          False                  False              False
3                          False                  False              False
4                          False                  False              False

  Occupation_Professional  Occupation_Skilled Manual  Gender_M  \
0                   False                      False      True
1                   False                      False      True
2                   False                      False     False
3                   False                       True      True
4                   False                       True      True

   MaritalStatus_S  HomeOwnerFlag_1
0            False             True
1            False             True
2             True            False
3            False             True
4             True             True

[5 rows x 27 columns]

In [22]:
# One-hot encoding for categorical variables
df_encoded = pd.get_dummies(df, columns=categorical_columns, drop_first=True)

In [23]:
# Example: Select two objects (rows) to compare
object1 = df_encoded.iloc[0]
object2 = df_encoded.iloc[1]

In [24]:
import numpy as np

In [31]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

In [34]:
income_final = scaler.fit_transform(df_encoded['YearlyIncome'].values.reshape(-1,1))

In [33]:
#simple matching similarity

SMS = np.sum(income_final==monthly_spend_final)/(len(income_final))
SMS

NameError: name 'monthly_spend_final' is not defined

In [ ]:
# Jaccard similarity

JS = len(set((income_final)).intersection(monthly_spend_final))/(len(set(income_final).union(monthly_spend_final)))
JS

In [ ]:
#cosine similarity

def cosine_similarity(a,b):
    return np.dot(a,b)/(np.linalg.norm(a)*np.linalg.norm(b))

CS = cosine_similarity(income_final,monthly_spend_final)
CS